/* Define CSS variables in :root */
:root {
  --bg-color: Black;
  --container-bg-color: Teal;
  --primary-color: #4CAF50;
  --primary-hover-color: #45a049;
  --remove-btn-bg-color: #f44336;
  --remove-btn-hover-bg-color: #e53935;
  --font-family: Arial, sans-serif;
  --padding: 20px;
  --border-radius: 8px;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --width: 300px;
}

.custom-shape-divider-top-1741274803 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  
}

.custom-shape-divider-top-1741274803 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 500px;
  
}

.custom-shape-divider-top-1741274803 .shape-fill {
  fill: #EE1C1C;
  
}


/* Body Styles */
body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-side-gif{
  position: relative;
}
.right-side-gif{
  z-index: 1;
}


/* Container Styles */
.container {
  background-color: var(--container-bg-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: var(--width);
  position: relative;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

label, input, select, button {
  margin-bottom: 10px;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-hover-color);
}

/* Remove Button Styles */
.remove-btn {
  background-color: var(--remove-btn-bg-color);
  color: white;
  border: none;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: var(--remove-btn-hover-bg-color);
}
